@font-face{
    font-family:Jaldi;
    src:url('font/BalsamiqSans-Regular.ttf');
    }
 @font-face{
        font-family:Jaldi;
        font-weight: bold;
        src:url('font/BalsamiqSans-Bold.ttf');
    }
    @font-face{
        font-family:Mukta-Regular;
        src:url('font/Mukta-Regular.ttf');
        }
   
*{
    margin: 0%;
}
p:fr{

}
.AllBody{
    background-color: rgba(167, 212, 44, 0.411);
}
.Menu{
    font-size: 200%;
    margin-bottom: 3%;
    font-family:Mukta-Regular, Calibri,'Trebuchet MS', sans-serif;
}
.Container{
    
  
    margin-top: 10%;
    margin-left: 5%;
}
.List{
    position: relative;
    left: -5%;
    display: inline-block;
}
.HeaderOfFoodName1{
    float: right;
    font-size: 150%;
    background-color: rgba(219, 149, 56, 0.712);
   border-top: 0px;
   border-right: 0px;
    border-left: 2px;
   border-bottom: 2px;
   border-style: solid;
   border-color: black;
    font-family: Jaldi,Calibri,'Trebuchet MS', sans-serif;;
    font-weight: bold;
    margin-bottom: 4%;
}
.HeaderOfFoodName2{
    float: right;
    font-size: 150%;
    background-color: rgba(141, 219, 39, 0.712);
   border-top: 0px;
   border-right: 0px;
    border-left: 2px;
   border-bottom: 2px;
   border-style: solid;
   border-color: black;
    font-family:Jaldi, Calibri,'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 4%;
}
.HeaderOfFoodName3{
    float: right;
    font-size: 150%;
    background-color: rgba(193, 48, 230, 0.712);
   border-top: 0px;
   border-right: 0px;
    border-left: 2px;
   border-bottom: 2px;
   border-style: solid;
   border-color: black;
    font-family: Jaldi,Calibri,'Trebuchet MS', sans-serif;;
    font-weight: bold;
    margin-bottom: 4%;
}
.DescriptionOfFood{
    clear: right;
 
    text-align: left;
    margin-left: 4%;
   
    margin-right: 4%;
    margin-bottom: 2%;
    color: rgba(214, 214, 214, 0.603);
    font-family:Mukta-Regular,Calibri,'Trebuchet MS', sans-serif;;
    line-height: 110%;
}

@media(min-width:992px){    
    .Food1{
        display: inline-block;
        width: 30%;
        height: 40%;
        border: 2px solid black;
        margin-left: 2%;
        background-color: dimgray;
    }
    .Food2{
        display: inline-block;
        width: 30%;
        height: 40%;
        border: 2px solid black;
        margin-left: 2%;
        background-color: dimgray;
    }
    .Food3{
        display: inline-block;
        width: 30%;
        height: 40%;
        border: 2px solid black;
        margin-left: 2%;
        background-color: dimgray;
    }
}
@media(min-width:768px) and (max-width:991px){    
    .Food1{
        display: inline-block;
        width: 38.6%;
        height: 10%;
        border: 2px solid black;
        margin-left: 2%;
        margin-bottom:2.5%;
        background-color: dimgray;
    }
    .Food2{
        display: inline-block;
        width: 38.6%;
        height: 10%;
        border: 2px solid black;
        margin-left: 2%;
        background-color: dimgray;
    }
    .Food3{
        display: inline-block;
        width: 80%;
        height: 20%;
        border: 2px solid black;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: dimgray;
    }
}
@media(max-width:767px){    
    .Food1{
        display: inline-block;
        width: 80%;
        height: 20%;
        border: 2px solid black;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: dimgray;
    }
    .Food2{
        display: inline-block;
        width: 80%;
        height: 20%;
        border: 2px solid black;
        margin-left: 2%;
        margin-bottom: 5%;
        margin-bottom:5%;
        background-color: dimgray;
    }
    .Food3{
        display: inline-block;
        width: 80%;
        height: 20%;
        border: 2px solid black;
        margin-left: 2%;
        margin-bottom:5%;
        background-color: dimgray;
    }
}